<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro fuga, provident nam a sunt voluptates explicabo. Ex placeat impedit ad recusandae velit temporibus sapiente suscipit non nisi, excepturi dolorum.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores saepe aliquam earum. At doloremque libero modi quidem aliquid adipisci tenetur velit ipsum, quas hic dicta! Vitae nulla rerum minus ipsam.
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>