.navbar
{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link
{
    color: #000000;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}