.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.homecontent
{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: #ffffff;
    font-size: 50px;
}
.homecontent a
{
    margin-top: 10px;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 700px;
}
    .homecontent h1
{
    font-size: 40px;        
}
}